mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    flex: 0.3;
  }

  .center {
    display: flex;
    gap: 2rem;
    justify-content: start;
    flex: 2;
  }

  .spacer {
    flex-grow: 1;
  }
}
